<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../css/utils/reset-min.css">
    <link rel="stylesheet" href="../css/wei/register.css">
    <script src="../js/utils/jquery-1.12.4-min.js"></script>
    <script src="../js/wei/register.js"></script>
</head>
<body>
    <div id="container">
        <div>
            <h1>注册</h1>
        </div>
        <ul id="content">
            <li class="type buyer selected">
                <p>用户</p>
                <div class="registerCont selectCont">
                    <form action="../register?registerType=Buyer" method="post" enctype="multipart/form-data">
                        <ul>
                            <li>
                                <span class="name">名称:</span>
                                <input type="text" name="name">
                            </li>
                            <li>
                                <span class="name">密码:</span>
                                <input type="password" name="password">
                            </li>
                            <li>
                                <span class="name">邮箱:</span>
                                <input type="text" name="email">
                            </li>
                            <li>
                                <span class="name">电话:</span>
                                <input type="text" name="phoneNumber">
                            </li>
                            <li>
                                <span class="name">收货地址:</span>
                                <input type="text" name="homeAddress">
                            </li>
                            <li>
                                <div class="centerEle">
                                    <span class="name">头像:</span>
                                    <div class="form-group col-md-3  mb-2">
                                        <input type="text"  id="viewfile1" placeholder="未选择文件" disabled autocomplete="off" class="form-control">
                                        <input type="file" style="display: none" name="picUrl" onchange="javascript: reShow1();" id="upload1"/>
                                    </div>
                                    <label class="btn btn-primary  mb-2" for="upload1" id="upText1">浏览</label>
                                </div>
                            </li>
                            <li>
                                <input type="submit" value="注册">
                            </li>
                        </ul>

                    </form>

                </div>
            </li>
            <li class="type seller">
                <p>商家</p>
                <div class="registerCont">
                    <form action="../register?registerType=Seller" method="post" enctype="multipart/form-data">
                        <ul>
                            <li>
                                <span class="name">名称:</span>
                                <input type="text" name="name">
                            </li>
                            <li>
                                <span class="name">密码:</span>
                                <input type="password" name="password">
                            </li>
                            <li>
                                <span class="name">邮箱:</span>
                                <input type="text" name="email">
                            </li>
                            <li>
                                <span class="name">银行卡:</span>
                                <input type="text" name="bankCard">
                            </li>
                            <li>
                                <span class="name">发货地址:</span>
                                <input type="text" name="deliveryAddr">
                            </li>
                            <li>
                                <span class="name">类型:</span>
                                <select name="type">
                                    <option value="bedroom">卧室家具</option>
                                    <option value="livingRoom">客厅家具</option>
                                    <option value="diningRoom">餐厅家具</option>
                                    <option value="studyRoom">书房家具</option>
                                    <option value="kitchenRoom">厨房家具</option>
                                    <option value="bathroom">卫生间家具</option>
                                    <option value="outdoors">户外家具</option>
                                </select>
                            </li>
                            <li>
                                <div class="centerEle">
                                    <span class="name">头像:</span>
                                    <div class="form-group col-md-3  mb-2">
                                        <input type="text"  id="viewfile" placeholder="未选择文件" disabled autocomplete="off" class="form-control">
                                        <input type="file" style="display: none" name="icon" onchange="javascript: reShow();" id="upload" />
                                    </div>
                                    <label class="btn btn-primary  mb-2" for="upload" id="upText">浏览</label>
                                </div>
                            </li>
                            <li>
                                <input type="submit" value="注册">
                            </li>
                        </ul>

                    </form>

                </div>
            </li>
        </ul>

    </div>
</body>
<script>
    function reShow1() {
        document.getElementById('viewfile1').value = document.getElementById('upload1').value;
    }
    function reShow() {
        document.getElementById('viewfile').value = document.getElementById('upload').value;
    }
</script>
</html>