*{
    margin-top: 0;
    padding: 0;
}
html{
    width: 100%;
    height: 100%;
}
.clearFix:after,.clearFix:before{
    content: "";
    display: table;
    clear: both;
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(230,234,242);
    color: rgb(76, 76, 78);
    font-family: 微软雅黑;
}
h1{
    width: 90%;
    margin-left: 5.5%;
    margin-top: 2%;
    font-weight: bold;
    font-size: 35px;
}
#main_body{
    width: 90%;
    height: 80%;
    margin-top: 2%;
    margin-left: 5%;
    background-color: #ffffff;
    border-radius: 1%;
    font-weight: bold;
}
.title{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-indent: 15px;
    border-bottom: 2px rgb(230,234,242) solid;
    font-weight: bold;
    margin-bottom: 50px;
}
.content{
    width: 100%;
    height: 90%;
}
.info{
    width: 100%;
    height: 60px;
}
.info div{
    float: left;
}
.text{
    width: 10%;
    height: 100%;
    line-height: 60px;
    text-align: right;
}
.user_info{
    width: 75%;
    height: 100%;
    margin-left: 3%;
}
.user_info p{
    width: 35%;
    height: 40px;
    margin-top: 10px;
    line-height: 40px;
    text-indent: 10px;
    background-color: rgb(245,247,250);
    border-radius: 2%;
}
.icon{
    width: 50px;
    height: 50px;
    background-color: rgb(245,247,250);
    border-radius: 50%;
    margin-left: 3%;
    margin-top: 8px;
}